In [177]:
import numpy as np
import pandas as pd
import random

In [1]:
print("Hello World")

Hello World

In [3]:
input()

hello

'hello'

In [2]:
2 ** 10

1024

In [7]:
np.sqrt(2) ** 2

2.0000000000000004

In [8]:
age = int(input())
2018 - age

22

1996

In [67]:
num = [1.5, 2.3, 1.8, 4.2, 3.2]

def average(num):
    return(sum(num)/len(num))

average(num)

2.6

In [68]:
def variance(num):
    ave = average(num)
    
    return (sum([(x-ave)**2 for x in num]) / len(num))

variance(num)

0.9720000000000002

In [69]:
pdnum = pd.Series([1.5, 2.3, 1.8, 4.2, 3.2])
print(pdnum.mean())
print(pdnum.var(ddof=False))

2.6
0.9720000000000002

In [72]:
print(pdnum.median())
print(num[2])

2.3
1.8

In [49]:
l = [1,5 ,7, 9, 11]
l[-1]

11

In [50]:
del l[1]
l

[1, 7, 9, 11]

In [51]:
l.remove(1)
print(l)
print(len(l))

[7, 9, 11]
3

In [116]:
i = list(range(1,11))
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
i.append(11)
i.sort()
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [119]:
print(len(i))
print(sum(i))
print(i.count(10))

11
66
1

In [78]:
print(i[0:5]) #スライス

[1, 2, 3, 4, 5]

In [97]:
num = [[1,2], [2,3],[3,4]]

In [98]:
dim = pd.Series([[1,2], [2,3], [3,4]])
dim.shape

(3,)

In [125]:
mydict = {"dictionary" : "辞書", "book" : "本"}
print(mydict)
print(mydict["dictionary"])

{'dictionary': '辞書', 'book': '本'}
辞書

In [182]:
keylist = ["ja", "us", "ita"]
valuelist = [5, 6, 7]
keyvalue = dict(zip(keylist, valuelist))
keyvalue
dict.keys(keyvalue)

dict_keys(['ja', 'us', 'ita'])

# 制御構造

In [199]:
for x in range(-1,2): 
    if x < 0:
        print("minus")
    elif x > 0:
        print("plus")
    else:
        print("zero")

minus
zero
plus

In [213]:
# i = [0,2,4,6]
# print(i)
i = [x*2 for x in range(4)]
print (i)

[0, 2, 4, 6]
[0, 2, 4, 6]

# コンピュータ言語　第２回学習メモ
## 9月13日　192010　喜田圭伍

## 学習記録2-1　授業メモ

マークダウンにショートカットはescを押して１（h１）

マークダウンにチェンジはescを押してm

## 学習記録２−２

In [207]:
def fizz_buzz():
    for i in range(1, 101):
        if i % 15 == 0:
            print("fizzbuzz")
        elif i  % 3 ==0:
            print("fizz")
        elif i  %  5 == 0:
            print("buzz")
        else:
            print(i)

In [209]:
fizzbuzz(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [131]:
df = pd.DataFrame(
    {"Country": ["Japan", "US", "Korea", "France"],
     "ISD": [81, 1, 82, 32]}
)

df

  Country  ISD
0   Japan   81
1      US    1
2   Korea   82
3  France   32

In [142]:
keylist = ["Japan","US", "Korea", "France"]
valuelist = [81,1,82,32]
isd = dict(zip(keylist, valuelist))
print(isd)
print(isd.keys())
print(isd.values())
print(isd.items())

{'Japan': 81, 'US': 1, 'Korea': 82, 'France': 32}
dict_keys(['Japan', 'US', 'Korea', 'France'])
dict_values([81, 1, 82, 32])
dict_items([('Japan', 81), ('US', 1), ('Korea', 82), ('France', 32)])

In [153]:
mylist = [1,2,3,4,5]
for i in mylist:
    print(i ** 2)

1
4
9
16
25

In [171]:
i = []

for i in range(1,10):
    for j in range(1,10):
        print((i*j), end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [178]:
random.randint(1,6)

3