In [177]:
import numpy as np
import pandas as pd
import random

In [1]:
print("Hello World")

Hello World

In [3]:
input()

hello

'hello'

In [2]:
2 ** 10

1024

In [7]:
np.sqrt(2) ** 2

2.0000000000000004

In [8]:
age = int(input())
2018 - age

22

1996

In [67]:
num = [1.5, 2.3, 1.8, 4.2, 3.2]

def average(num):
    return(sum(num)/len(num))

average(num)

2.6

In [68]:
def variance(num):
    ave = average(num)
    
    return (sum([(x-ave)**2 for x in num]) / len(num))

variance(num)

0.9720000000000002

In [69]:
pdnum = pd.Series([1.5, 2.3, 1.8, 4.2, 3.2])
print(pdnum.mean())
print(pdnum.var(ddof=False))

2.6
0.9720000000000002

In [72]:
print(pdnum.median())
print(num[2])

2.3
1.8

In [49]:
l = [1,5 ,7, 9, 11]
l[-1]

11

In [50]:
del l[1]
l

[1, 7, 9, 11]

In [51]:
l.remove(1)
print(l)
print(len(l))

[7, 9, 11]
3

In [116]:
i = list(range(1,11))
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
i.append(11)
i.sort()
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [119]:
print(len(i))
print(sum(i))
print(i.count(10))

11
66
1

In [78]:
print(i[0:5]) #スライス

[1, 2, 3, 4, 5]

In [97]:
num = [[1,2], [2,3],[3,4]]

In [98]:
dim = pd.Series([[1,2], [2,3], [3,4]])
dim.shape

(3,)

In [125]:
mydict = {"dictionary" : "辞書", "book" : "本"}
print(mydict)
print(mydict["dictionary"])

{'dictionary': '辞書', 'book': '本'}
辞書

In [182]:
keylist = ["ja", "us", "ita"]
valuelist = [5, 6, 7]
keyvalue = dict(zip(keylist, valuelist))
keyvalue
dict.keys(keyvalue)

dict_keys(['ja', 'us', 'ita'])

# 制御構造

In [199]:
for x in range(-1,2): 
    if x < 0:
        print("minus")
    elif x > 0:
        print("plus")
    else:
        print("zero")

minus
zero
plus

In [213]:
# i = [0,2,4,6]
# print(i)
i = [x*2 for x in range(4)]
print (i)

[0, 2, 4, 6]
[0, 2, 4, 6]

In [214]:
i = [chr(i) for i in range(97, 97+26)]
print(i)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [220]:
s = [ord(s) for s in (i)]
print (s)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [222]:
rnd = random.randint(1,10)
print(rnd)

9

# コンピュータ言語　第２回学習メモ
## 9月13日　192010　喜田圭伍

## 学習記録2-1　授業メモ

マークダウンにショートカットはescを押して１（h１）

マークダウンにチェンジはescを押してm

random.randomは０〜１の乱数生成

random.randint(min, max)は範囲を指定できる

## 学習記録２−２

In [207]:
def fizz_buzz():
    for i in range(1, 101):
        if i % 15 == 0:
            print("fizzbuzz")
        elif i  % 3 ==0:
            print("fizz")
        elif i  %  5 == 0:
            print("buzz")
        else:
            print(i)

In [209]:
fizzbuzz(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [131]:
df = pd.DataFrame(
    {"Country": ["Japan", "US", "Korea", "France"],
     "ISD": [81, 1, 82, 32]}
)

df

  Country  ISD
0   Japan   81
1      US    1
2   Korea   82
3  France   32

In [142]:
keylist = ["Japan","US", "Korea", "France"]
valuelist = [81,1,82,32]
isd = dict(zip(keylist, valuelist))
print(isd)
print(isd.keys())
print(isd.values())
print(isd.items())

{'Japan': 81, 'US': 1, 'Korea': 82, 'France': 32}
dict_keys(['Japan', 'US', 'Korea', 'France'])
dict_values([81, 1, 82, 32])
dict_items([('Japan', 81), ('US', 1), ('Korea', 82), ('France', 32)])

In [153]:
mylist = [1,2,3,4,5]
for i in mylist:
    print(i ** 2)

1
4
9
16
25

In [392]:
for i in range(1,10):
    for j in range(1,10):
        print((i*j), end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [506]:
rnd = np.random.randint(1,7, 600)
rnd1 = np.sum(rnd ==1)
rnd2 = np.sum(rnd==2)
rnd3 = np.sum(rnd==3)
rnd4 = np.sum(rnd==4)
rnd5 = np.sum(rnd==5)
rnd6 =np.sum(rnd==6)

TypeError: zip argument #2 must support iteration

In [508]:
rnd_value = [rnd1,rnd2,rnd3,rnd4, rnd5, rnd6]
rnd_key = [1,2,3,4,5,6]
print(rnd_value)
print(rnd_key)
rnd_dict = dict(zip(rnd_key, rnd_value))
print(rnd_dict)

[102, 117, 112, 83, 87, 99]
[1, 2, 3, 4, 5, 6]
{1: 102, 2: 117, 3: 112, 4: 83, 5: 87, 6: 99}

In [413]:
rnd_2 = np.array([np.random.random(1000)])
rnd_key = np.array([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.9, 1])

In [433]:
df_rnd = pd.DataFrame(np.random.random(1000))
df_key = pd.DataFrame(rnd_key)

df

In [451]:
print(df_rnd)

            0
0    0.375173
1    0.631757
2    0.738093
3    0.946374
4    0.692927
5    0.574639
6    0.525816
7    0.376488
8    0.701133
9    0.955875
10   0.403483
11   0.471880
12   0.476907
13   0.611129
14   0.962201
15   0.978748
16   0.460904
17   0.020872
18   0.047916
19   0.017828
20   0.542962
21   0.386490
22   0.507076
23   0.237443
24   0.056212
25   0.566746
26   0.667971
27   0.280980
28   0.495202
29   0.248665
..        ...
970  0.699662
971  0.731691
972  0.345710
973  0.278193
974  0.916081
975  0.609485
976  0.908840
977  0.387385
978  0.696935
979  0.784128
980  0.853878
981  0.573298
982  0.024279
983  0.631489
984  0.284244
985  0.023061
986  0.679794
987  0.422689
988  0.251067
989  0.433837
990  0.479924
991  0.877549
992  0.509205
993  0.015258
994  0.575571
995  0.602047
996  0.624115
997  0.326389
998  0.048721
999  0.426135

[1000 rows x 1 columns]

In [477]:
df_new = df_rnd.rename(columns={0: 'value'})
df_new.info()
df_seg1 = df_new.count[(df_new["value"] <=  0.1) & (df_new["value"] > 0)]
df_seg2 = df_new.loc[(df_new["value"] <=  0.2) & (df_new["value"] > 0.1)]
df_seg3 = df_new.loc[(df_new["value"] <=  0.3) & (df_new["value"] > 0.2)]
df_seg4 = df_new.loc[(df_new["value"] <=  0.4) & (df_new["value"] > 0.3)]
df_seg5 = df_new.loc[(df_new["value"] <=  0.5) & (df_new["value"] > 0.4)]
df_seg6 = df_new.loc[(df_new["value"] <=  0.6) & (df_new["value"] > 0.5)]
df_seg7 = df_new.loc[(df_new["value"] <=  0.7) & (df_new["value"] > 0.6)]
df_seg8 = df_new.loc[(df_new["value"] <=  0.8) & (df_new["value"] > 0.7)]
df_seg9 = df_new.loc[(df_new["value"] <=  0.9) & (df_new["value"] > 0.8)]
df_seg10 = df_new.loc[(df_new["value"] <=  1.0) & (df_new["value"] > 0.9)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
value    1000 non-null float64
dtypes: float64(1)
memory usage: 7.9 KB

TypeError: 'method' object is not subscriptable

In [473]:
df_seg10

        value
3    0.946374
9    0.955875
14   0.962201
15   0.978748
34   0.973288
39   0.941169
43   0.943234
44   0.916466
45   0.970530
47   0.957780
53   0.980238
60   0.939966
77   0.942067
88   0.938193
90   0.983096
105  0.917870
110  0.947578
130  0.922855
136  0.994164
139  0.952589
141  0.927087
183  0.985087
184  0.953780
189  0.902846
193  0.911218
204  0.913625
210  0.967218
216  0.940443
220  0.910459
221  0.968243
..        ...
627  0.925319
631  0.926095
650  0.956933
653  0.974384
664  0.907786
666  0.908737
682  0.932354
697  0.908796
702  0.925806
703  0.971758
746  0.940547
762  0.919097
766  0.964858
767  0.992261
769  0.925094
770  0.956387
817  0.953862
853  0.931827
886  0.930112
901  0.963349
907  0.923183
908  0.990817
916  0.935266
923  0.980208
935  0.900136
955  0.938438
962  0.932282
967  0.943962
974  0.916081
976  0.908840

[99 rows x 1 columns]

In [377]:
rnd_value2 = [rnd_0, rnd_0_0, rnd_0_1, rnd_0_2, rnd_0_3, rnd_0_4, rnd_0_5, rnd_0_6, rnd_0_7, rnd_0_8, rnd_0_9, rnd_1]
rnd_key2 = [0, 0.1,0.2,0.3,0.4,0.5,0.6, 0.7, 0.8, 0.9, 1]
print(rnd_value2)
print(rnd_key2)
rnd_dict2 = dict(zip(rnd_key2, rnd_value2))
print(rnd_dict2)

[0, 106, 211, 315, 410, 516, 611, 715, 818, 912, 1000, 0]
[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
{0: 0, 0.1: 106, 0.2: 211, 0.3: 315, 0.4: 410, 0.5: 516, 0.6: 611, 0.7: 715, 0.8: 818, 0.9: 912, 1: 1000}